<p>Olá, <%= @user.name %>,</p>

<p>Ocorreu uma falha no pagamento da sua assinatura:</p>
<p><%= @error %></p>

<p>Por favor, verifique seus dados de pagamento e tente novamente.</p>

<p>Obrigado,</p>
<p>Sua Empresa</p>
