<p>Olá, <%= @user.name %>,</p>

<p>Infelizmente, tivemos que suspender o seu serviço devido a uma falha no pagamento por mais de 15 dias.</p>

<p>Por favor, entre em contato conosco para mais informações.</p>

<p>Obrigado,</p>
<p>Sua Empresa</p>
